.mediumContainer {
  position: absolute;
  left: 6px;
  bottom: 10px;
  display: flex;
  background-color: white;
  width: auto;
  padding: 3px;
  border-radius: 8px;
  border: solid 1px darkgray;
  font-weight: bold;
  z-index: 9999;
}

.largeContainer {
  position: absolute;
  left: 6px;
  bottom: 10px;
  display: flex;
  background-color: white;
  width: auto;
  padding: 3px;
  border-radius: 8px;
  border: solid 1px darkgray;
  font-weight: bold;
  z-index: 9999;
}

.smallContainer {
  position: absolute;
  left: 6px;
  bottom: 10px;
  display: flex;
  background-color: white;
  width: auto;
  padding: 3px;
  border-radius: 8px;
  border: solid 1px darkgray;
  font-weight: bold;
  z-index: 9999;
  visibility: hidden;
}
