.reviews-modal-wrapper {
    width: 530px;
    height: 530px;
    margin: 15px 15px;
}

.reviews-modal-h1 {
    font-weight: 100;
}

.reviews-modal-top {
    display: flex
}

.reviews-modal-product-img-div {
    width: 230px;
    display: flex;
    align-items: center;
}

.reviews-modal-product-img-div img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.reviews-modal-stars-div {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    left: 245px;
    bottom: 290px;
}


input[type="radio"] {
    display: none;
    cursor: pointer;
}

.star svg {
    transition: color 200ms;
    cursor: pointer;
}

.reviews-modal-product-info-div {
    width: 300px;
    height: 150px
}

.reviews-modal-review-div {
    display: flex;
    flex-direction: column;
    width: 530px;
    margin-top: 20px;
}

.reviews-modal-review-div textarea {
    min-width: 525px;
    max-width: 525px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 5px;
    overflow: auto;
}

.reviews-modal-images-div {
    margin-top: 20px;
}

.reviews-modal-images-div input {
    width: 525px;
    border-radius: 5px;
}

.reviews-modal-submit-button-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 525px;
}

.disabled-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: not-allowed;
}

.enabled-button {
    background-color: #000000;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
