.Footer-Container {
  width: 100%;
  border-top: 2px solid #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: white;
  margin-top: 85px;
  position: fixed;
  bottom: 0px;
  z-index: 100000;
}

.Footer-Left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 40px;
  cursor: pointer;
  height: 100%;
}

.Footer-Left a {
  text-decoration: none;
  background: linear-gradient(to bottom, #ff4c89, #ff9c88);
  height: 37px;
  width: 38px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.Footer-Middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
}

.Footer-Right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Footer-Right ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  height: 100%;
  width: 100%;
  flex-direction: row;
  font-size: 17px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Footer-Right ul li {
  cursor: pointer;
}

.Footer-Right ul li a {
  color: black;
  text-decoration: none;
}

.Footer-Right ul li:hover {
  text-decoration: underline 2px solid #ff385c;
  text-underline-offset: 2px;
}
