@import url("https://fonts.googleapis.com/css?family=Cambria");

.profile-dropdown {
  position: absolute;
  background-color: white;
  border: 2px solid #c5c5c5;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  margin: 0;
  padding: 15px;
  border-radius: 10px;
  list-style-type: none;
  min-width: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-dropdown > li {
  padding-bottom: 0px;
}

.hidden {
  display: none;
}

.navBar {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* flex-flow: row wrap; */
  /* display: grid;
  grid-template-columns: repeat(16, 1fr); */
  gap: px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid lightgray;
}

.homeButtonDiv {
  /* grid-column: span 2; */
  margin-left: 50px;
  padding-top: 5px;
}

.homeButton {
  display: flex;
  align-self: flex-start;
  text-decoration: none;
  color: #f1641f;
  font-weight: light;
  font-size: 40px;
  font-family: "Cambria", serif;
}

/* .categoriesDiv {
  grid-column: span 2;
} */

.categories {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(34, 34, 34);
}

.catWord {
  font-family: Arial, Helvetica, sans-serif;
}

.categoriesDiv {
  cursor: pointer;
}

.categoriesDiv:hover {
  background-color: rgb(234, 232, 232);
  border-radius: 30px;
}

.searchBarBig {
  /* grid-column: span 9; */
  padding: 5px;
  width: 65%;
}

.searchBarSmall {
  /* grid-column: span 8; */
  padding: 5px;
  width: 50%;
}

.searchBar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.searchBarInput {
  width: 100%;
  font-size: large;
  border-radius: 25px;
  padding: 10px;
  border: 3px solid black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.searchIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 7.5%;
  right: 1%;
  background-color: #f1641f;
  border-radius: 100%;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.magnifyingGlass {
  text-decoration: none;
  padding: 8px;
  color: white;
}

.fas.fa-search {
  font-size: 25px;
  cursor: pointer;
}

.searchIcon:hover {
  background-color: rgb(242, 128, 71);
  transform: scale(1.12);
}

/* .favoritesDiv {
  grid-column: span 1;
} */

.favorites {
  display: grid;
  height: 100%;
  place-items: center;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.far.fa-heart {
  padding: 15px;
}

/* .bellDiv {
  grid-column: span 1;
} */

button.bell {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: white;
  border: none;
  /* text-decoration: none; */
  color: black;
  font-size: 30px;
  cursor: pointer;
}

div.signInDiv {
  grid-column: span 2;
}

div.signInDiv > button {
  background-color: transparent;
  border: none;
}

/* .profileButtonDiv {
  grid-column: span 1;
} */

button.profileButton {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  color: black;
  background-color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(34, 34, 34);
  cursor: pointer;
}

.signInButton {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(34, 34, 34);
}

.signInDiv:hover {
  background-color: rgb(234, 232, 232);
  border-radius: 30px;
}

.shoppingCartDiv {
  margin-right: 50px;
  padding: 5px;
  cursor: pointer;
}

.shoppingCart {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: light;
  color: rgb(34, 34, 34);
  position: relative;
}

.cartItemCount {
  position: absolute;
  font-size: 18px;
  top: -20%;
  right: -20%;
  background-color: #cf4018;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 100%;
  border: 3px solid white;
}

.fas.fa-shopping-cart {
  padding: 10px;
}

.shoppingCartDiv:hover {
  background-color: #ccebff;
  border-radius: 100%;
}

.profileButton:hover {
  background-color: #ccebff;
  border-radius: 30px;
}

.bell:hover {
  background-color: #ccebff;
  border-radius: 30px;
}

i.far.fa-heart:hover {
  background-color: #ccebff;
  border-radius: 100%;
  /* width: 50%; */
}

.profileDropdownUser {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 2px solid lightgray;
  background-color: #ccebff;
  text-decoration: none;
  color: black;
  padding-top: 5px;
}

.profileDropdownUser > i.fas.fa-user-circle {
  font-size: 25px;
  grid-column: span 1;
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  margin-left: 10px;
}

.firstLastName {
  grid-column: span 5;
}

.firstLastName > p {
  margin: 0px 10px 15px 15px;
  font-size: 15px;
}

.firstLastName > h4 {
  margin: 5px 10px 5px 15px;
  font-size: 18px;
}

.dDPartTwo {
  border-bottom: 2px solid lightgray;
}

.purchasesReviews,
.messages,
.accountSettings,
.logOutDiv,
.sellerListings {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-decoration: none;
  color: black;
}

.sellerListings {
  padding-bottom: 10px;
}

.purchasesReviews:hover,
.messages:hover,
.accountSettings:hover,
.sellerListings:hover {
  background-color: rgb(228, 226, 226);
}

.purchasesReviews > i.fas.fa-clipboard-list,
.messages > i.far.fa-comment-dots,
.accountSettings > i.fas.fa-cog,
.logOutDiv > i.fas.fa-sign-out-alt.fa-rotate-180,
.sellerListings > i.fas.fa-store {
  font-size: 20px;
  grid-column: span 1;
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  margin-left: 10px;
}

.purchasesReviews > p,
.messages > p,
.accountSettings > p,
.sellerListings > p {
  grid-column: span 5;
  margin: 15px 15px 15px 15px;
  font-size: 18px;
}

.logOutDiv {
  margin: 0px 15px 0px 0px;
}

.logOutDiv:hover {
  background-color: rgb(228, 226, 226);
}

.logOutButton {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  grid-column: span 5;
  margin: 15px 15px 12px 0px;
  cursor: pointer;
  text-align: left;
  padding-left: 15px;
  font-weight: lighter;
}

.search-dropdown {
  position: absolute;
  top: 83px;
  left: 0;
  z-index: 99009;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 1rem;
  width: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.search-dropdown:empty {
  border: none;
}

.search-result-img {
  width: 75px;
  height: 100%;
  border-radius: 8px;
}

.search-dropdown-row {
  font-family: sans-serif;
  cursor: pointer;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  min-width: 40%;
  max-width: 45%;
  width: 40%;
  align-items: center;
  border-bottom: 1px solid grey;
  border-radius: 0 0 10px 10px;
}

.search-name-price-contain {
  display: flex;
  justify-content: right;
  text-align: right;
  flex-flow: column wrap;
  gap: 10px;
}

.search-dropdown-row:hover {
  /* background-color: rgba(255, 255, 255, 0.9); */
  font-weight: 600;
}
