@import url("https://fonts.googleapis.com/css?family=Cambria");

.profile-dropdown {
  position: absolute;
  background-color: white;
  border: 2px solid #c5c5c5;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 100000;
  margin: 0;
  padding: 10px;
  border-radius: 12px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  right: 0%;
  /* width: auto; */
  /* min-width: auto */
}

.hidden {
  display: none;
}

.navBar {
  /* display: grid;
  grid-template-columns: 10% 16% 50% 6% 6% 6% 6%; */
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  /* align-items: center; */
  /* flex-flow: row wrap; */
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid lightgray;
}

.homeButtonDiv {
  margin-left: 15px;
  margin-right: 5px;
  /* padding-top: 5px; */
  display: flex;
  place-items: center;
}

.homeButton {
  text-decoration: none;
  color: #f1641f;
  font-weight: light;
  font-size: 40px;
  font-family: "Cambria", serif;
}

.catWord {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.categoriesDiv {
  cursor: pointer;
  /* padding: 5px; */
  width: 100%;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-flow: row;
  place-items: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  color: rgb(34, 34, 34);
  padding: 10px
}

.categoriesDiv:hover {
  background-color: rgb(234, 232, 232);
  border-radius: 30px;
}

.searchBarBig {
  padding: 5px;
  width: 100%;
}

.searchBarSmall {
  padding: 5px;
  width: 100%
}

.searchBar {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: row; */
  flex-flow: row;
  align-items: center;
  position: relative;
  /* margin: auto; */
}

.searchBarInput {
  /* width: 100%; */
  font-size: large;
  border-radius: 50px;
  padding: 10px;
  border: 3px solid black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.searchIcon {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  /* top: 7.5%; */
  right: 1%;
  background-color: #f1641f;
  border-radius: 100%;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.magnifyingGlass {
  text-decoration: none;
  padding: 8px;
  color: white;
}

.fas.fa-search {
  font-size: 25px;
  cursor: pointer;
}

.searchIcon:hover {
  background-color: rgb(242, 128, 71);
  transform: scale(1.12);
}

.favorites {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  place-items: center;
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-left: 5px
}

.far.fa-heart {
  padding: 15px
    /* padding-left: 15px;
  padding-right: 5px; */
}

button.bell {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: white;
  border: none;
  /* text-decoration: none; */
  color: black;
  font-size: 30px;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
}

.signInDiv {
  display: flex;
  flex-flow: row;
  margin: 5px;
  padding: 2px 20px;
  /* height: 100%; */
  width: 100%;
  place-items: center;
  justify-content: center;
}

button.profileButton {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  place-items: center;
  color: black;
  background-color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(34, 34, 34);
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
}

.signInDiv button {
  width: 100%;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(34, 34, 34);
  padding: 0 20px
}

.signInDiv:hover {
  background-color: rgb(234, 232, 232);
  border-radius: 30px;
}

.shoppingCartDiv {
  margin-right: 15px;
  margin-left: 10px;
  /* padding: 5px; */
  cursor: pointer;
}

.shoppingCart {
  display: flex;
  flex-flow: row;
  justify-content: center;
  /* height: 100%; */
  width: 100%;
  place-items: center;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: light;
  color: rgb(34, 34, 34);
  position: relative;
  margin-top: 8px;
  margin-bottom: 5px;
}

.cartItemCount {
  position: absolute;
  font-size: 16px;
  top: -10%;
  right: -5%;
  background-color: #cf4018;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 100%;
  border: 2px solid white;
}

.fas.fa-shopping-cart {
  padding: 10px 15px;
}

.shoppingCartDiv:hover {
  background-color: #ccebff;
  border-radius: 100%;
}

.profileButton:hover {
  background-color: #ccebff;
  border-radius: 30px;
}

.bell:hover {
  background-color: #ccebff;
  border-radius: 30px;
}

i.far.fa-heart:hover {
  background-color: #ccebff;
  border-radius: 100%;
  /* width: 50%; */
}

.profileDropdownUser {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  /* width: 100%; */
  border-bottom: 2px solid lightgray;
  background-color: #ccebff;
  text-decoration: none;
  color: black;
  padding-top: 2px;
  /* margin: auto */
}

.profileDropdownUser:hover {
  cursor: pointer;
}

.profileDropdownUser>i.fas.fa-user-circle {
  font-size: 25px;
  display: flex;
  place-items: center;
  margin-left: 10px;
  color: gray;
}

.firstLastName {
  /* width: 100% */
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.firstLastName>p {
  margin: 0px 10px 15px 15px;
  font-size: 16px;
}

.firstLastName>h4 {
  margin: 10px 10px 5px 15px;
  font-size: 18px;
}

.dDPartTwo {
  border-bottom: 2px solid lightgray;
}

.purchasesReviews,
.messages,
.accountSettings,
.logOutDiv,
.sellerListings {
  display: flex;
  flex-flow: row;
  place-items: center;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: black;
  /* width: 100% */
}

.sellerListings {
  padding-bottom: 5px;
}

.purchasesReviews:hover,
.messages:hover,
.accountSettings:hover,
.sellerListings:hover {
  background-color: rgb(228, 226, 226);
  cursor: pointer;
}

.purchasesReviews>i.fas.fa-clipboard-list,
.messages>i.far.fa-comment-dots,
.accountSettings>i.fas.fa-cog,
.logOutDiv>i.fas.fa-sign-out-alt.fa-rotate-180,
.sellerListings>i.fas.fa-store {
  font-size: 25px;
  display: flex;
  flex-flow: row;
  place-items: center;
  margin-left: 10px;
  margin-right: 5px;
}

.purchasesReviews>p,
.messages>p,
.accountSettings>p,
.sellerListings>p {
  margin: 15px 15px 15px 15px;
  font-size: 16px;
  display: flex;
  flex-flow: row;
  place-items: center;
}

.logOutDiv {
  margin: 0px 15px 0px 0px;
}

.logOutDiv:hover {
  background-color: rgb(228, 226, 226);
  cursor: pointer;
}

.logOutButton {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 15px 12px 0px;
  cursor: pointer;
  text-align: left;
  padding-left: 15px;
  font-weight: lighter;
}

.search-dropdown {
  position: absolute;
  top: 83px;
  left: 0;
  z-index: 99009;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 1rem;
  width: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.search-dropdown:empty {
  border: none;
}

.search-result-img {
  width: 75px;
  height: 100%;
  border-radius: 8px;
}

.search-dropdown-row {
  font-family: sans-serif;
  cursor: pointer;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  min-width: 40%;
  max-width: 45%;
  width: 40%;
  align-items: center;
  border-bottom: 1px solid grey;
  border-radius: 0 0 10px 10px;
}

.search-name-price-contain {
  display: flex;
  justify-content: right;
  text-align: right;
  flex-flow: column wrap;
  gap: 10px;
}

.search-dropdown-row:hover {
  /* background-color: rgba(255, 255, 255, 0.9); */
  font-weight: 600;
}


.leftSideNav,
.rightSideNav,
.searchBarSmall,
.searchBarBig {
  display: flex;
  flex-flow: row;
  gap: 15px;
  justify-content: space-around;
}

@media only screen and (max-width: 800px) {
  .navBar {
    flex-flow: column;
    align-items: center;
  }

  .searchBarSmall {
    margin: 10px 2px;
  }

  .searchBarBig {
    margin: 10px 2px;
  }

  .search-dropdown {
    top: 150px;
  }

  .search-dropdown-row {
    min-width: 75%;
  }
}

@media only screen and (max-width: 300px) {
  .profile-dropdown {
    max-width: 200px;
  }
}
