.productShowcase {
  width: 100%;
  height: 100%;
  padding: 0 25px 25px 25px;
  border-radius: 10px;
  border: 1px solid grey;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.productShowcase h3 {
  width: 100%;
}

.showcaseImagesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.showCasePreviewImg {
  height: 450px;
  width: 55%;
  border-radius: 10px;
  /* margin-right: 15px; */
}

.showCaseExtraImgs {
  width: 43%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.extraImg {
  height: 220px;
  width: calc(50% - 5px);
  border-radius: 10px;
}
