.dynaDisplayMainContain h1,
.dynaDisplayMainContain p {
  padding: 0;
  margin: 0;
}

.dynaDisplayMainContain {
  border: 1px solid black;
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.dynaTextContain {
  width: 100%;
}

.dynaImgContain {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dynaItem {
  flex: 1;
  margin: 10px;
  box-sizing: border-box;
  position: relative;
  /* overflow:hidden; */
}

.dynaImgContain img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.productHeart {
  position: absolute;
  right: -10px;
  top: 25px;
}

.heartContainer {
  display: flex;
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: white;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  right: 0%;
  top: 20%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease, top 0.4s ease;
}

.heartContainer.clicked {
  opacity: 1;
  top: 14%;
  color: #a61a2e;
}

.heartContainer:hover {
  border: 4px solid lightgray;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.158);
}

.dynaItem:hover .heartContainer {
  opacity: 1;
  top: 14%;
}

.fa-heart {
  transition: transform 0.1s ease;
}

.heartContainer:active .far.fa-heart {
  transform: scale(1.5);
}


