.dynaDisplayMainContain h1,
.dynaDisplayMainContain p {
  padding: 0;
  margin: 0;
}

.dynaDisplayMainContain {
  border: 1px solid black;
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.500);
}

.dynaTextContain {
  width: 100%;
}

.dynaImgContain {
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* Use 100% width to take up the full width of the container */
}

.dynaItem {
  flex: 1; /* Use flex: 1 to make each item take up all available space */
  margin: 10px;
  box-sizing: border-box;
}

.dynaImgContain img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
