.mainProductDisplay {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 20px 0;
}

.mainProductDisplay h3 {
  width: 100%;
}
