.mainProductDisplay {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: red; */
  /* width: 100%; */
}
