.prodSmallImg {
  width: 90px;
  height: 90px;
  background-color: grey;
}

.prodSmallContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  padding: 0 30px;
  justify-content: center;
}

.smallProdObj {
  display: flex;
  flex-flow: column wrap;
  width: 90px;
}

.smallProdObj text {
  width: 90px;
  text-align: center;
  padding: 0 15px;
  box-sizing: border-box;
}
