.favoritespage-container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}
